.vs
.idea
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
guiraspberry
guiraspberry.cbp
Debug
Release
ConsoleApplication3/Debug
ConsoleApplication3/Release
guiraspberry_automoc.cpp
cmake-build-debug/
src/db/gr.db
!/src/db/gr.db
/guiraspberry_autogen/
